.banner
  margin: $size 0 $size * 4

.stats
  text-align: center
  margin-bottom: $size * 6
  &__item
    display: flex
    justify-content: center
    align-items: center

.services-types
  .ant-card
    height: 100%
    &-cover img
      object-fit: cover