.search
  .ant-form-item
    margin-right: 0
    &:first-child
      flex: 1
      margin-right: $size

.search-row
  &.ant-row
    width: 100%
    margin: 0 !important
  &__services
    width: calc(100% - 216px)
    @media screen and ( max-width: 575px )
      width: 100%
  &__sidebar
    width: 216px
    @media screen and ( max-width: 575px )
      display: none

.sort
  &__label
    margin-bottom: $size
  &__select
    width: 100%
    margin-bottom: $size * 3

.filters
  background-color: #fff

.categories-filter
  margin-bottom: $size
  &__tag
    margin-bottom: $size
    cursor: pointer