.container
  width: 100%
  max-width: 1000px
  padding: 0 $size
  margin: 0 auto

.layout
  min-height: 100vh
  background-color: #fff
  padding-top: $size * 2

.icon
  margin-right: 4px

.mirrored
  transform: scale(-1, 1)

.loading
  line-height: 200px
  text-align: center

.cursor-pointer
  cursor: pointer

.placeholder
  color: #bfbfbf

.agreement
  text-align: center

.past-time-row
  opacity: .8
  background-color: #fafafa