$size: 8px
$accent: #1890ff
$red: #f5222d

.container
  width: 100%
  max-width: 1000px
  padding: 0 16px
  margin: 0 auto

.layout
  min-height: 100vh
  background-color: #fff

.header
  display: flex
  align-items: center
  background-color: #fff

.sider
  background-color: #fff
  padding-right: 8px
  margin-top: 18px

.content
  padding-left: 8px

.icon
  margin-right: 4px

.mirrored
  transform: scale(-1, 1)

.loading
  line-height: 200px
  text-align: center

.cursor-pointer
  cursor: pointer