@import 'antd/dist/antd.css'
@import 'swiper/swiper.scss'
@import 'swiper/components/pagination/pagination.scss'

.ant-input-number,
.ant-picker
  width: 100%

.ant-form-item .ant-form-item
  margin-bottom: 0
  width: calc(50% - 1px)
  &:first-child
    margin-right: 2px

.ant-typography + .ant-typography
  margin-top: 0 !important

.ant-form-item
  &:last-child
    margin-bottom: 0

.ant-layout-header
  padding: 0

.ant-back-top-icon
  background-color: $accent

.ant-upload-list-item-image
  object-fit: cover

.swiper-container
  width: 100%
  height: 100%

.swiper-pagination-bullets
  max-width: 984px

.swiper-pagination-bullet
  width: 20px
  height: 4px
  border-radius: 4px
  background-color: $accent
  opacity: .3
  transition: width .5s, opacity .5s
  &-active
    width: 28px
    opacity: 1