@import 'antd/dist/antd.css'

.ant-input-number,
.ant-picker
  width: 100%

.ant-form-item .ant-form-item
  margin-bottom: 0
  width: calc(50% - 1px)
  &:first-child
    margin-right: 2px

.ant-typography + .ant-typography
  margin-top: 0 !important

.ant-form-item
  &:last-child
    margin-bottom: 0

.ant-layout-header
  padding: 0