@import 'libs'
@import 'global'

.search
  .ant-form-item
    margin-right: 0
    &:first-child
      flex: 1
      margin-right: $size

.sort
  display: flex
  justify-content: flex-end
  &__select
    width: 140px

.filters
  background-color: #fff

.search-header
  margin-bottom: $size * 2

.services
  margin-bottom: $size * 2
  &__link
    width: 100%
    color: inherit
  &__phone.ant-typography
    margin-bottom: $size * .5

.service
  &__title.ant-typography
    color: $accent
    & + .ant-typography
      margin-bottom: 14px
  &__schedule
    .ant-typography
      margin: 0
  &__phone a
    color: inherit
  &__calendar
    max-width: 500px
    border: 1px solid #f0f0f0
    border-radius: 2px
    margin-bottom: $size * 6
    .ant-picker-calendar-mode-switch
      display: none
  &__appointment-hour
    cursor: pointer
    margin-bottom: $size
  &__trigger
    position: absolute
    top: 50%
    left: 50%
    z-index: 2
    transform: translate(-50%, -50%)
    width: 70px
    height: 40px
    background-color: transparent
    border: 0
    cursor: pointer

.form
  width: 100%
  max-width: 350px
  min-height: 75vh
  display: flex
  flex-direction: column
  justify-content: center
  margin: 0 auto
  padding-bottom: $size * 3
  &--info
    margin-left: 0
    min-height: 0
  &--login
    max-width: 250px
  &__icon
    color: rgba(#000, .25)
  &__timepicker
    padding-left: 29px
    .ant-picker-suffix
      position: absolute
      margin-left: 0
      left: 11px
    .ant-picker-active-bar
      transform: translateX(18px)
  &__btn
    width: 100%

.profile
  min-height: 100vh
  &__menu
    height: 100%
    .ant-badge
      color: inherit
  &__header
    display: flex
    align-items: center
    background-color: #fff
  &__container
    max-width: 1200px
  &__content
    padding-top: $size * 2

.invite
  &__title.ant-typography
    margin-bottom: $size * 2
  &__form
    max-width: 300px
    margin-bottom: $size * 3

.active-categories
  &__table
    th.ant-table-cell .ant-checkbox-wrapper
      opacity: 0
      visibility: hidden