.search
  .ant-form-item
    margin-right: 0
    &:first-child
      flex: 1
      margin-right: $size

.sort
  display: flex
  justify-content: flex-end
  &__select
    width: 140px

.filters
  background-color: #fff

.search-header
  margin-bottom: $size * 2