.service
  &__title.ant-typography
    color: $accent
    & + .ant-typography
      margin-bottom: 14px
  &__schedule
    .ant-typography
      margin: 0
  &__phone a
    color: inherit
  &__appointment-hour
    color: #fff
    margin-bottom: $size
    background-color: $accent
    border-color: $accent
    cursor: pointer
    &--busy
      background-color: $red
      border-color: $red
      cursor: default