.service
  &__title.ant-typography
    color: $accent
    & + .ant-typography
      margin-bottom: 14px
  &__schedule
    .ant-typography
      margin: 0
  &__phone a
    color: inherit
  &__appointment-hour
    margin-bottom: $size
    cursor: pointer